<div class="cabecero">
  <app-presupuesto [ingresos] = ingresos [egresos] = egresos ></app-presupuesto>
</div>

<app-agregar></app-agregar>

  <div class="contenedor limpiarEstilos">
      <div class="ingreso">
          <h2 class="ingreso_titulo">Ingresos</h2>
            <app-formulario *ngFor="let ingresoElemento of ingresos" [ingreso] = "ingresoElemento" [ingresos] = ingresos [egresoTotal] = totalEgresos()></app-formulario>
      </div>

      <div class="egreso">
          <h2 class="egreso_titulo">Egresos</h2>
            <app-formulario2 *ngFor="let egresoElemento of egresos" [egreso] = "egresoElemento" [egresos] = egresos [ingresoTotal] = totalIngresos()></app-formulario2>
      </div>
  </div>
